@tailwind base;
@tailwind components;
@tailwind utilities;

.hero_right {
  background: linear-gradient(
    45deg,
    #ff6f61,
    #ffcc00,
    #6bffb8,
    #4a90e2,
    #d647ff
  );
  background-size: 300% 300%;
  animation: gradientShift 8s ease infinite;
}
@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
